# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pycharmWorkspace\571hw6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
